body,
p,
div {
  @apply font-body fw-400 text-4.25 -tracking-2% leading-150%;
  font-family: "Sora", sans-serif;
}

.sub-title {
  @apply text-5 font-600;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-header;
}

.p1-bold {
  @apply font-sans;
}

.paragraph-32-bold {
  @apply fw-700 font-size-[32px] leading-120%; 
}
.paragraph-32-reguler {
  @apply fw-400 font-size-[32px] leading-120%; 
}
h1 {
  @apply font-size-15 lg:font-size-17.5 fw-600 my-4 leading-110% tracking-0% text-primary;
}

.h1-bold {
  @apply fw-700;
}

h2 {
  @apply font-size-15 fw-600 my-4 tracking-0% leading-120%;
}

.h2-bold {
  @apply font-size-15 fw-700 my-4 tracking-0% leading-120%;
}

h3 {
  @apply font-size-9 md:font-size-10.2 lg:font-size-11.25 fw-600 tracking-0% leading-120%;
}

.h3-bold {
  @apply font-size-9 md:font-size-10.2 lg:font-size-11.25 fw-700 tracking-0% leading-120%;
}

.paragraph-24-semibold {
  @apply font-size-6 fw-400 leading-150% -tracking-2%;
}

.paragraph-24-bold {
  @apply font-size-6 fw-700 leading-150% -tracking-2%;
}

.paragraph-20-semibold {
  @apply font-size-5 fw-400 leading-150% -tracking-2%;
}

.paragraph-20-bold {
  @apply font-size-5 fw-700 leading-150% -tracking-2%;
}

.paragraph-17-bold {
  @apply font-size-4.25 fw-600 leading-150% -tracking-2%;
}

.paragraph17-semibold {
  @apply font-size-4.25 fw-600 leading-150% -tracking-1%;
}

html {
  font-size: 16px;
}
@screen at-xs {
  html {
    font-size: 12px;
  }
}
@screen at-md {
  html {
    font-size: 13px;
  }
}
