<table class="table-header">
  <tbody>
    <tr>
      <td class="table-body" rowspan="1" colspan="1">Size of cup</td>
      <td class="table-body" rowspan="1" colspan="1">
        6 - 22 Oz (can be adjusted by mold)
      </td>
    </tr>
    <tr>
      <td class="table-body" rowspan="1" colspan="1">Material of paper</td>
      <td class="table-body" rowspan="1" colspan="1">
        160 - 380 g/m2 (single or double PE-coated paper)
      </td>
    </tr>
    <tr>
      <td class="table-body" rowspan="1" colspan="1">Speed of production</td>
      <td class="table-body" rowspan="1" colspan="1">50 - 60 pcs/min</td>
    </tr>
    <tr>
      <td class="table-body" rowspan="1" colspan="1">Cup top diameter</td>
      <td class="table-body" rowspan="1" colspan="1">50 - 105 mm</td>
    </tr>
    <tr>
      <td class="table-body" rowspan="1" colspan="1">Cup bottom diameter</td>
      <td class="table-body" rowspan="1" colspan="1">45 - 80 mm</td>
    </tr>
    <tr>
      <td class="table-body" rowspan="1" colspan="1">Height diameter</td>
      <td class="table-body" rowspan="1" colspan="1">60 - 120 mm</td>
    </tr>
    <tr>
      <td class="table-body" rowspan="1" colspan="1">Bottom depth</td>
      <td class="table-body" rowspan="1" colspan="1">5 - 10 mm</td>
    </tr>
    <tr>
      <td class="table-body" rowspan="1" colspan="1">Power supply</td>
      <td class="table-body" rowspan="1" colspan="1">380 V/220 V 50 Hz 3 PH</td>
    </tr>
    <tr>
      <td class="table-body" rowspan="1" colspan="1">Total power</td>
      <td class="table-body" rowspan="1" colspan="1">6 kW</td>
    </tr>
    <tr>
      <td class="table-body" rowspan="1" colspan="1">Weight</td>
      <td class="table-body" rowspan="1" colspan="1">2500 kg</td>
    </tr>
    <tr>
      <td class="table-body" rowspan="1" colspan="1">Overall dimensions</td>
      <td class="table-body" rowspan="1" colspan="1">2300 x 1200 x 1600 mm</td>
    </tr>
  </tbody>
</table>
